.picture-gallery {
    width: 100%;
    margin-top: 50px; 
    .current-picture-bloc {
        overflow: hidden;
        display: flex!important;
        align-items: center;
        justify-content: center;
        height: 250px;
        // border-radius: 15px;
        @media (min-width: $phoneScreenSize) {
            height: 325px;
        }
        & img {
            // height: 300px;
            width: 100%;
            max-width: 700px;
            @media (min-width: $phoneScreenSize) {
                max-width: none;
            }
        }
    }
    &:hover {
        .slick-prev {
            opacity: 1;
            transition: .2s;
        }
        .slick-next {
            opacity: 1;
            transition: .2s;
        }
    }
}

.slick-prev {
    opacity: 0;
    left: 10px;
    z-index: 1000;
    width: auto;
    height: auto;
    transition: .2s;
}
.slick-next {
    opacity: 0;
    right: 10px;
    z-index: 1000;
    width: auto;
    height: auto;
    transition: .2s;
}

.slick-next:before, .slick-prev:before {
    font-size: 30px;
    @media (min-width: $phoneScreenSize) {
        font-size: 50px;
    }
}
.slick-dots li.slick-active button:before {
    color: $color-two;
}

.slick-dots li button:before {
    font-size: 6px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: $color-two;
}

