.prices-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 30px;
    font-size: $pSizesPhone;
    & h1 {
        font-size: 35px;
    }
    & section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 90%;
        p a {
            text-decoration: underline;
        }
    }
    & .button-link {
        margin: 20px 0;
    }

    .locations{
        display: flex;
        flex-direction: column;
        align-items: center;
        & ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            & .titleClickable {
                display: flex;
                align-items: flex-end;
                gap : 30px;
                & img {
                    height: 70px;
                }
                & i {
                    margin-bottom: 10px;
                    font-size: 30px;
                    transition: .2s;
                }
            }
            & .locationDetails{
                display: none;
            }
        }
        & .activeLocationDetails {
            & .titleClickable {
                & i {
                    rotate: -180deg;
                    transition: .2s;
                }
            }
            & .locationDetails{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                & .prices-bloc {
                    & ul {
                        align-items: flex-start;
                        gap: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: $phoneScreenSize) {
    .prices-main {
        gap: 70px;
        margin-bottom: 0;
        font-size: $pSizesDesktop;
        & h1 {
            font-size: 35px;
        }    
        .locations{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            gap: 70px;
            & ul {
                gap: 50px;
                & .titleClickable {
                    gap : 40px;
                    transition: .2s;
                    & img {
                        height: 120px;
                    }
                    & i {
                        font-size: 55px;
                    }
                    &:hover {
                        cursor: pointer;
                        scale: 1.02;
                        transition: .2s;
                    }
                }
            }
            & .activeLocationDetails {
                & .locationDetails{
                    gap: 30px;
                    & .prices-bloc {
                        & ul {
                            gap: 15px;
                        }
                    }
                }
            }
        }
    }
}