.prices-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    .table-container {
        overflow-x: auto;
        border: 1px solid $color-two;
        width: 100%;
        max-width: 472px;
      }
    table {
        border: 1px solid $color-two;
        border-radius: 4px;
        border-collapse : collapse;
        min-width: 400px;
    }
    th, td {
        padding: 3px;
        text-align: center;
        border: 1px solid $color-two;
    }
    th {
        background-color: rgba($color: $color-two, $alpha: .15);
    }
    .high {
        background-color: rgba($color: $color-high, $alpha: .8);
    }
    .average {
        background-color: rgba($color: $color-average, $alpha: .8);
    }
    .low {
        background-color: rgba($color: $color-low, $alpha: .5);
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        & :nth-child(1) {
            i {
                color: rgba($color: $color-high, $alpha: .8);
            }
        }
        & :nth-child(2) {
            i {
                color: rgba($color: $color-average, $alpha: .8);
            }
        }
        & :nth-child(3) {
            i {
                color: rgba($color: $color-low, $alpha: .5);
            }
        }
        & li {
            display: flex;
            align-items: center;
            gap: 5px;
            & i {
                border: 1px solid $color-two;
                border-radius: 5px;
            }
        }
    }
}
.table-quote {
    font-size: 12px;
    margin-top: -10px;
}

@media (min-width: $phoneScreenSize) {
    .prices-bloc {
        align-items: center;
        gap: 20px;
        table {
            border: 2px solid $color-two;
        }
        th, td {
            padding: 7px;
            border: 2px solid $color-two;
        }
        ul {
            gap: 15px;
            & li {
                gap: 10px;
            }
        }
    }
    .table-quote {
        width: 550px;
        font-size: 17px;
        margin-top: -15px;
    }
}