.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-size: $pSizesPhone;
    background-image: $bgImgMain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    & h2 {
        font-size: 28px;
    }
    & section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 90%;
        & h3 {
            font-size: 25px;
            text-align: center;
        }
        article {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    & .events{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    & .button-link {
        background-color: $color-one;
    }
}


.hobbies-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    & .hobbies-bloc-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    & .hobbies-bloc-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 10px;
        border-radius: 10px;
        background-color: $color-two;
        color: $color-one;
        gap: 5px;
        & h4 {
            font-size: 23px;
            text-align: center;
        }
        & p {
            align-self: flex-start;
        }
        & img {
            background-color: $color-one;
            border-radius: 10px;
            width: 270px;
            height: 170px;
        }
        .climb {
            background-color: #292929;
            height: 100px;
            object-fit: none;
            @media (min-width: $phoneScreenSize) {
                height: 120px;
            }
        }
        & ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 95%;
            & li {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                overflow: hidden;
                gap: 10px;
                color: $color-one;
                & a {
                    color: $color-one;
                }
            }
        }
    }
    & .picture-gallery {
        width: 270px;
        height: 170px;
        margin: auto;
        margin-top: 0; 
        position: relative;
        z-index: unset;
        @media (min-width: $phoneScreenSize) {
            height: 270px;
            width: 370px;
        }
        & .current-picture-bloc {
            height: 170px;
            opacity: 1;
            @media (min-width: $phoneScreenSize) {
                height: 270px;
            }
            & img {
                max-width: 270px;
                opacity: 1;
                @media (min-width: $phoneScreenSize) {
                    max-width: 370px;
                }
            }
        }
        &:hover {
            .slick-prev {
                opacity: 1;
                transition: .2s;
            }
            .slick-next {
                opacity: 1;
                transition: .2s;
            }
        }
        .slick-prev {
            display: initial;
        }
        .slick-next {
            display: initial;
        }
        
        .slick-next:before, .slick-prev:before {
            display: block;
        }
        .slick-dots li.slick-active button:before {
            display: block;
        }
        
        .slick-dots li button:before {
            display: initial;
        }
        .slick-dots{
            display: flex!important;
            flex-direction: row;
            bottom: 10px;
            @media (min-width: $phoneScreenSize) {
                    bottom: -20px;
            }
        }
    }
    .picture-zoom {
        display: none;
    }
}

@media (min-width: $phoneScreenSize) {
    .hobbies{
        padding-top: 50px;
        font-size: $pSizesDesktop;
        & h2 {
            font-size: 35px;
            width: 100%;
            text-align: center;
        }
        & section {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            gap: 50px;
            width: 90%;
            & h3 {
                font-size: 30px;
            }
            article {
                gap: 50px;
                margin-bottom: 30px;
            }
        }
        & .events{
            gap: 50px;
        }
    }

    
    .hobbies-bloc {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-around;
        gap: 20px;
        & .hobbies-bloc-div {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-around;
            gap: 20px;
        }
        & .hobbies-bloc-list {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 370px;
            gap: 15px;
            background-color: rgba($color: $color-two, $alpha: .85);
            & h4 {
                font-size: 23px;
                text-align: center;
            }
            & p {
                align-self: flex-start;
            }
            & img {
                background-color: $color-one;
                border-radius: 10px;
                width: 370px;
                height: 270px;
            }
            & ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: auto;
                & li {
                    align-items: center;
                    justify-content: flex-start;
                    width: 80%;
                    gap: 10px;
                    color: $color-one;
                    & a {
                        color: $color-one;
                        transition: .2s;
                        &:hover {
                            scale: 1.02;
                            transition: .2s;
                        }
                    }
                }
            }
        }
    }
}