@keyframes scaleUp {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(.8);
    }
}

@keyframes loading-spinner{
    to{
        transform: rotate(2turn);
    }
}

@keyframes translateToRight {
    0% {
        transform: translateX(-99999px);
      }
    
    100% {
        transform: translateX(0);
    }
}
@keyframes translateToLeft {
    0% {
        transform: translateX(99999px);
      }
    
    100% {
        transform: translateX(0);
    }
}