@keyframes scaleUp {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(.8);
    }
}

@keyframes loading-spinner{
    to{
        transform: rotate(2turn);
    }
}
