@font-face {
    font-family: 'Vladimir Script';
    src: url('../polices/VladimirScript.ttf');
}
@font-face {
    font-family: 'Cormorant';
    src: url('../polices/Cormorant.ttf');
}
@font-face {
    font-family: 'Cormorant-bold';
    src: url('../polices/Cormorant-Bold.ttf');
}

// Font-Family

$policesGlobal: 'Cormorant';
$policesTitle: 'Vladimir Script';
$policesDefault: 'sans-serif';
$policesGlobalBold: 'Cormorant-bold';


// colors

$color-one: #0D0D0D;
$color-two: white;
$color-three: rgba(black, .7);
$color-four: #90000E;

$color-high: rgb(107, 2, 2);
$color-average: rgb(202, 146, 42);
$color-low: rgb(43, 94, 170);

$color-oneLight : rgba($color-one, .3);

// Screen Sizes

$phoneScreenSize: 750px;
// $tabletScreenSize:;
$desktopScreenSize: 1240px;

// Text sizes

$h3SizesPhone: 22px;
$h3SizesDesktop: 25px;

$pSizesPhone: 18px;
$pSizesDesktop: 22px;