.main-home{
    padding: 0 15px;
    padding-top: 100px;
    .title-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
        & div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: end;
            & h1 {
                font-family: $policesTitle;
                font-size: 45px;
            }
            & h2 {
                font-size: 20px;
            }
        }
        & h3 {
            font-style: italic;
            font-size: 22px;
        }
    }
    /******  Modif picture gallery ******/
    & .picture-gallery {
        & .current-picture-bloc {
            & .picture.active{
                background-color: $color-three;
                max-width: 930px;
                & .currentPicture-box {
                    height: 200px;
                    @media (min-width: $phoneScreenSize) {
                        height: 350px;
                    }
                    & .activeChevron {
                        color: $color-two;
                        font-size: 70px;
                        @media (min-width: $phoneScreenSize) {
                            font-size: 130px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $phoneScreenSize) {
    .main-home{
        padding: 0 15px;
        .title-home {
            gap: 35px;
            & div {
                & h1 {
                    font-size: 57px;
                    letter-spacing: 3px;
                }
                & h2 {
                    font-size: 23px;
                }
            }
            & h3 {
                font-size: 25px;
            }
        }
    }
}