.main-home{
    margin-top: 300px;
    padding-top: 15px;
    // background-color: $color-one;
    padding-bottom: 70px;
    .title-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 80px;
        padding: 0 15px;
        position: absolute;
        top: 90px;
        & div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: end;
            & h1 {
                font-family: $policesTitle;
                font-size: 45px;
            }
            & h2 {
                font-size: 20px;               
            }
        }
        & h3 {
            font-style: italic;
            font-size: $h3SizesPhone;
            align-self: baseline;
        }
    } 
    & .event {
        margin-top: 20px;
        margin-bottom: 0;
        padding: 0 15px;
    }   
}

.home-description{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 15px;
    & article {
        display: flex;
        flex-direction: column;
        gap: 20px;
        & h3 {
            font-size: $h3SizesPhone;
            margin-left: 50px;
        }
        & p {
            font-size: $pSizesPhone;
            text-align: center;
        }
        & ul {
            align-self: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
            & li {
                display: flex;
                align-items: center;
                gap: 7px;
                & p {
                    text-align: start;
                }
                & i {
                    color: $color-two;
                }
            }
        }
        & a {
            align-self: center;
        }
    }
    & .location-list-home {
        height: 150px;
        border: solid 2px $color-two;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        & h3 {
            margin: 0;
        }
        & a {
            text-decoration: underline;
            transition: .2s;
            
        }
    }
}

@media (min-width: $phoneScreenSize) {
    .main-home{
        max-width: none;
        margin-top: 450px;
        .title-home {
            padding: 0;
            gap: 240px;
            top: 170px;
            left: 0;
            width: 100%;
            & div {
                width: 85%;
                & h1 {
                    font-size: 57px;
                    letter-spacing: 3px;
                }
                & h2 {
                    font-size: 23px;
                }
            }
            & h3 {
                width: 65%;
                font-size: $h3SizesDesktop;
            }
        }
    }
    section {
        max-width: 1240px;
        margin: auto;
    }
    .home-description{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 70px;        
        & article {
            gap: 35px;
            & h3 {
                font-size: $h3SizesDesktop;
                margin-left: 70px;
            }
            & p {
                font-size: $pSizesDesktop;
            }
            & ul {
                gap: 15px;
                & li {
                    gap: 7px;
                }
            }
        }
        &  .location-list-home {
            width: 440px;
            height: 330px;            
            font-size: $pSizesDesktop;
            a:hover {
                scale: 1.05;
                opacity: .8;
                transition: .2s;
            }
        }
        &:nth-child(1){
            align-self: center;
            & h3 {
                align-self: flex-start;
            }
        }
    }
}