.main-home{
    padding: 0 15px;
    padding-top: 100px;
    .title-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 45px;
        & div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: end;
            & h1 {
                font-family: $policesTitle;
                font-size: 45px;
                animation: translateToLeft 2.5s ease-in-out;
            }
            & h2 {
                font-size: 20px;
                animation: translateToLeft 2.5s ease-in-out;               
            }
        }
        & h3 {
            font-style: italic;
            font-size: $h3SizesPhone;
            align-self: baseline;
            animation: translateToRight 3s ease-in-out;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 10px;
            width: 100%;
            & img {
                width: 20px;
            } 
        }
    }    
}

.home-description{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    & article {
        display: flex;
        flex-direction: column;
        gap: 20px;
        & h3 {
            font-size: $h3SizesPhone;
            margin-left: 50px;
            animation: translateToLeft 3s ease-in-out;
        }
        & p {
            font-size: $pSizesPhone;
            text-align: center;
            animation: translateToRight 3s ease-in-out;
        }
        & ul {
            align-self: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
            & li {
                display: flex;
                align-items: center;
                gap: 7px;
                animation: translateToRight 2s ease-in-out;
                @for $i from 1 through 7 {
                    &:nth-child(#{$i}){
                        animation-delay: 0.2s * $i;
                    }
                }
                & p {
                    text-align: start;
                }
                & i {
                    color: $color-four;
                }
            }
        }
        & a {
            align-self: center;
        }
    }
    & aside {
        animation: translateToLeft 3s ease-in-out;
        overflow: hidden;
        height: 200px;
        width: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        border: 2px solid $color-two;
        border-radius: 10px;
        & .spinnerLoader{
            justify-content: center;            
            &.false {
                display: none;
            }
        }
        & img {
            height: auto;
            width: 100%;
        }
    }
}

@media (min-width: $phoneScreenSize) {
    .main-home{
        padding: 0 15px;
        .title-home {
            gap: 70px;
            & div {
                & h1 {
                    font-size: 57px;
                    letter-spacing: 3px;
                }
                & h2 {
                    font-size: 23px;
                }
            }
            & h3 {
                font-size: $h3SizesDesktop;
                // margin-left: 50px;
            }
        }
    }
    .home-description{
        margin: 70px 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 70px;
        & article {
            gap: 35px;
            & h3 {
                font-size: $h3SizesDesktop;
                margin-left: 70px;
            }
            & p {
                font-size: $pSizesDesktop;
            }
            & ul {
                gap: 15px;
                & li {
                    gap: 7px;
                }
            }
        }
        & aside {
            height: 500px;
            max-width: 400px;
            & .spinnerLoader {
                width: 400px;
            }
            & img {
                height: 100%;
                width: auto;
            }
        }
        &:nth-child(1){
            align-self: center;
            & h3 {
                align-self: flex-start;
            }
        }
    }
}