.eventLink{
    width: 300px;
    height: 400px;
    overflow: hidden;
    background-color: rgba($color: $color-two, $alpha: .7);
    color: $color-one;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: $policesGlobalBold;
    & h3 {
        font-size: $h3SizesPhone;
    }
    & .bloc-img {
        height: 220px;
        width: 200px;
        & img {
            height: 220px;
        }
        & .spinnerLoader {
            position: relative;
        }
    }
    & .card-quote {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        padding: 10px;
        border: solid 1px $color-four;
        border-radius: 15px;
        background-color: $color-two;
        & ul {
            display: flex;
            flex-wrap: wrap;
            gap: 0 5px;
            :nth-child(1){
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
        }
        & p {
            padding: 5px 0;
        }
    }
}

@media (min-width: $phoneScreenSize) {
    .eventLink{
        width: 450px;
        height: 550px;        
        transition: .5s;
        &:hover{
            scale: 1.02;
            transition: .2s;
        }
        & h3 {
            font-size: $h3SizesDesktop;
        }
        & .bloc-img {
            height: 320px;
            width: 250px;
            & img {
                height: 320px;
            }
            & .spinnerLoader {
                position: relative;
            }
        }
        & div {
            & ul {
                gap: 0 5px;
                :nth-child(1){
                    width: 100%;
                }
            }
            & p {
                padding: 20px 0;             
            }
        }
    }
}