html {
    scroll-behavior: smooth;
    background-color: $color-one;
    color: $color-two;
    font-family: $policesGlobal, $policesDefault;
    // position: relative;
}

// body {
//     // margin-left: 20px;
//     // margin-right: 20px;
//     // @media (min-width: $phoneScreenSize) {
//     //     margin-left: 50px;
//     //     margin-right: 50px;   
//     // }
    
// }

main {
    padding-top: 100px;
    padding-bottom: 30px;
    min-height: 50vh;
    background-color: $color-three;
    @media (min-width: $phoneScreenSize) {
        min-height: 47vh;
    }
    @media (min-width: $desktopScreenSize) {
        // max-width: $desktopScreenSize;
        min-height: 57vh;
        // margin: auto;
    }
}

a {
    color: $color-two;
    text-decoration: none;
}

h1, h2, h3, h4{
    margin: 0;
    font-weight: 500;
}

p{
    margin: 0;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bloc-img {
    overflow: hidden;
    border-radius: 10px;
    border: solid 1px $color-three;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-three;
    // settings width & height in here comp
}