.picture-zoom {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 800px;
    height: 500px;
    background-image: linear-gradient(155deg, rgba($color-one, 0.8) 0%,rgba($color-two, 0.8) 35%,rgba($color-two, 0.8) 65%, rgba($color-one, 0.8) 100%);
    opacity: 1;
    z-index: 10000;
    text-align: center;
    top: 0;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 15px;
    overflow: hidden;
    & .img-bloc{
        max-height: 400px;
        width: 95%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {       
            width: 100%;
        }
    }
    & .close-zoom {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        background-color: $color-one;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        & p {
            display: none;
        }
    }
}

.zoom-active {
    display: flex;
}

@media (min-width: $phoneScreenSize) {
    .picture-zoom {
        width: 95%;
        max-width: $desktopScreenSize;
        height: 800px;
        top: 100px;
        gap: 15px;
        align-self: center;
        border: 2px solid $color-three;
        & .img-bloc{
            max-height: 400px;
            width: 95%;
            & img {       
                width: 100%;
            }
        }
        & .close-zoom {
            
            width: auto;
            height: 30px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            gap: 30px;
            border-radius: 20px;
            padding: 5px 15px;
            & i {
                font-size: 30px;
            }
            & p {
                font-size: 25px;
                display: block;
            }
        }
    }
    
}