.fullScreenGallery {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    font-size: $pSizesPhone;
    max-width: none;
    .picture-gallery {
        position: relative;
        height: 100vh;
        background-color: $color-one;
        .current-picture-bloc {
            height: 100vh;
            & img {       
                opacity: .45;
            }
        }
    }
    .content-bloc {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 70px;
        max-width: none;
        & article {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 130px;
            }
            h1{
                font-family: $policesTitle;
                font-size: 40px;
                text-align: center;
                margin: 20px 0;
                letter-spacing: 2px;
            }
            h2{
                font-family: $policesGlobalBold;
                font-size: 30px;
                text-align: center;
            }
            h3{
                font-family: $policesGlobalBold;
                font-size: $h3SizesPhone;
                text-align: center;
            }
        }
        & .locationHome-list {
            gap: 50px;
            div {
                display: flex;
                align-items: center;
                gap: 15px;
                h3 {
                    text-decoration: underline;
                    font-size: 25px;
                    letter-spacing: 2px;
                }
                i {
                    font-size: 20px;
                    text-decoration: none;
                }
            }
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;
                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: $pSizesPhone;
                }
            }
            img {
                height: 70px;
                width: auto;
            }
        }
    }
    & .picture-zoom {
        display: none;
    } 
}

@media (min-width: $phoneScreenSize) {
    .fullScreenGallery {
        max-height: 100vh;
        overflow: hidden;
        .picture-gallery {
            position: relative;
            height: 100vh;
            background-color: $color-one;
            .current-picture-bloc {
                width: 100vh;
                height: auto;
                & img {       
                    opacity: .45;
                }
            }
        }
        font-size: $pSizesDesktop;
        .content-bloc {
            height: 80vh;
            gap: 130px;
            & .locationHome-title{
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                gap: 0 100px;
                justify-content: space-around;
                & .title-bloc {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
            & article {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 200px;
                    margin-right: -20px;
                }
                h1{
                    font-size: 70px;
                    margin: 0;
                }
                h2{
                    align-self: flex-end;
                    font-size: 40px;
                }
                h3{
                    font-size: $h3SizesDesktop;
                    align-self: flex-end;
                }
            }
            & .locationHome-list {
                gap: 80px;
                div {
                    gap: 15px;
                    h3 {
                        font-size: 35px;
                    }
                    i {
                        font-size: 25px;
                        text-decoration: none;
                    }
                }
                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 100px;
                    li {
                        font-size: $pSizesDesktop;
                        a {
                            transition: .2s;
                            &:hover {
                                scale: 1.05;
                                transition: .2s;
                            }
                        }
                    }
                }
                img {
                    height: 120px;
                }
            }
        }
    }
}