header{
    width: 100%;
    position: fixed;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: $color-three, $alpha: 2.0);
    box-shadow: 0px 3px 5px rgba($color: $color-two, $alpha: .6);
    & .header-phone {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        & img {
            width: 130px;
            margin-left: 20px;
        }
        & .burger-toggle{
            display: flex;
            flex-direction: column;
            gap: 5px;
            cursor: pointer;
            margin-right: 20px;
            & span {
                height: 3px;
                width: 30px;
                border-radius: 10px;
                background-color: $color-two;
                transform: rotate(0);
                transition: .2s;
            }
        }
    }
    & nav {
        display: none;
    }
}

.active{
    font-size: 20px;
    .burger-toggle{
        :nth-child(1){
            transform:  translateY(3px) rotate(45deg);
            transition: transform .2s ease-in-out;
        }
        :nth-child(3){
            transform: translateY(-4px) rotate(-45deg);
            transition: transform .2s ease-in-out;
        }
        :nth-child(2){
            display: none;
            transition: .2s;
        }
    }
    & nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
        gap: 10px;
        & div {
            cursor: pointer;
            & div {
                display: flex;
                align-items: center;
                gap: 10px;
                & i {
                    font-size: 17px;
                    transition: .2s;
                }
            }
            & ul {
                display: none;
            }
        }
        & .activeLocationList{
            & div {
                & i {
                    rotate: -180deg;
                    transition: .2s;
                }
            }
            & ul {
                margin: 5px 0;
                display: flex;
                flex-direction: column;
                align-items: baseline;
                gap: 2px;
                font-size: 16px;
            }
        }
    }
    & .tablet-bar{
        display: none;
    }
}

@media (min-width: $phoneScreenSize) {
    header {
        width: auto;
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color:transparent;
        padding: 0;
        margin-bottom: 50px;
        box-shadow: none;
        height: 135px;
        .header-phone{
            & img {
                width: 170px;
                margin: 0;
            }
            width: auto;
            .burger-toggle{
                display: none;
            }
        }
        & nav {
            display: flex;
            flex-direction: row;
            align-items: normal;
            text-align: initial;
            padding-bottom: 0;
            gap: 15px;
            font-size: 19px;
            & div {
                cursor: pointer;
                & div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    & i {
                        text-decoration: none;
                        font-size: 17px;
                        transition: .2s;
                    }
                }
                & div p:hover {
                    text-decoration: underline;
                }
                & ul {
                    display: none;
                }
            }
            & div:hover{
                position: relative;
                z-index: 1;
                & div {
                    & i {
                        rotate: -180deg;
                        transition: .2s;
                    }
                }
                & ul {
                    position: absolute;
                    z-index: -100;
                    top: 0;
                    left: -5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 2px;
                    font-size: 16px;
                    background-color: rgba($color: $color-three, $alpha: .7);
                    width: 100%;
                    height: 70px;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }
        & .tablet-bar {
            background-color: $color-three;
            width: 80%;
            margin-top: 20px;
            height: 1px;
        }
        & a:hover {
            text-decoration: underline;
        }
    }
}

@media (min-width: $desktopScreenSize) {
    header {
        width: auto;
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: transparent;
        padding: 0;
        margin-bottom: 50px;
        box-shadow: none;
        & .header-phone{
            width: auto;
            & .burger-toggle{
                display: none;
            }
        }
        & nav {
            display: flex;
            flex-direction: row;
            align-items: normal;
            text-align: initial;
            padding-bottom: 0;
            gap: 20px;
            font-size: 21px;
            letter-spacing: 1px;
            & div {
                cursor: pointer;
                & div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    & i {
                        font-size: 19px;
                        transition: .2s;
                    }
                }
                & ul {
                    display: none;
                }
            }
            & div:hover{
                & div {
                    & i {
                        rotate: -180deg;
                        transition: .2s;
                    }
                }
                & ul {
                    font-size: 19px;
                    padding-top: 10px;
                    padding-bottom: 15px;
                }
            }
        }
        & .tablet-bar {
            display: none;
        }
    }
}