@import './utils/variables';
@import './utils/keyframes';
@import './../pages/page';
@import './../pages/Home/home';
@import './../pages/LocationTemplate/locationTemplate';
@import './../pages/Contact/contact';
@import './../pages/mentions/mentions';
@import './../components/BackTop/backTop';
@import './../components/ButtonLink/buttonLink';
@import './../components/ZoomPicture/zoomPicture';
@import './../components/SpinnerLoader/spinnerLoader';
@import './../components/Header/header';
@import './../components/SlideShow/slideShow';
@import './../components/LocationComp/specificityBloc';
@import './../components/LocationComp/inProgressLoc';
@import './../components/NextEvent/nextEvent';
@import './../components/ErrorComp/errorComp';
@import './../components/InProgress/inProgress';
@import './../components/Footer/footer';