@import './utils/variables';
@import './utils/keyframes';
@import './../pages/page';
@import './../pages/Home/home';
@import './../pages/LocationHome/locationHome';
@import './../pages/LocationTemplate/locationTemplate';
@import './../pages/Prices/prices';
@import './../pages/Services/services';
@import './../pages/Hobbies/hobbies';
@import './../pages/Contact/contact';
@import './../pages/LegalNotices/legalNotices';
@import './../components/BackTop/backTop';
@import './../components/ButtonLink/buttonLink';
@import './../components/ZoomPicture/zoomPicture';
@import './../components/SpinnerLoader/spinnerLoader';
@import './../components/Header/header';
@import './../components/SlideShow/slideShow';
@import './../components/HobbiesCard/hobbiesCard';
@import './../pages/Hobbies/partnershipCard';
@import './../components/ButtonScrollBottom/buttonScrollBottom';
@import './../components/Event/event';
@import './../components/FullScreenGallery/fullScreenGallery';
@import './../components/LocationComp/specificityBloc';
@import './../components/LocationComp/inProgressLoc';
@import './../components/NextEvent/nextEvent';
@import './../components/ServiceCards/serviceCards';
@import './../components/DetailsPrices/detailsPrices';
@import './../components/CalendarReservations/calendarReservations';
@import './../components/ErrorComp/errorComp';
@import './../components/InProgress/inProgress';
@import './../components/Footer/footer';