.scroll-bottom {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
    background-image: linear-gradient(0deg, rgba($color-two, 0.3), rgba($color-one, 0));
    padding: 10px 0;
    & div {
        display: flex;
        flex-direction: column;
        font-size: $h3SizesPhone;
        & span {
            margin-top: -15px;
            animation: changeOpacity 1s infinite ease-in-out;
        }
        @for $i from 1 through 3 {
            & .chevron--#{$i}{
                animation-delay: .2s * $i;
            }

        }
    }
}

@media (min-width: $phoneScreenSize) {
    .scroll-bottom {
        // opacity: .55;
        transition: all .5s ease-in-out;
        & div {
            font-size: $h3SizesDesktop;
            & span {
                margin-top: -10px;
            }
        }
        &:hover {
            animation: changeLinearGradientBg .5s ease-in-out;
            animation-fill-mode: forwards;
        }
    }
}