.servicesCards{
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-color: rgba($color: $color-two, $alpha: .7);
    color: $color-one;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: $policesGlobalBold;
    & h3 {
        font-size: $h3SizesPhone;
    }
    & img {
        height: 180px;
        width: 290px;
        border-radius: 10px;
    }
    & p {
        width: 90%;
        padding: 20px 0;
        text-align: center;
        border: solid 1px $color-four;
        border-radius: 15px;
        background-color: $color-two;
    }
}

@media (min-width: $phoneScreenSize) {
    .servicesCards{
        width: 350px;
        height: 350px;
        & h3 {
            font-size: $h3SizesDesktop;
        }
        & img {
            height: 210px;
            width: 320px;
        }
    }
}